
<div class="container" >

  <div class="transitions-enabled clearfix" id="masonry-container">
    <% @gallery.each do |gallery| %>
      
        <%= image_tag gallery.image, class: "box col#{rand(1..5)}", height: "#{gallery.height}px;", width: "#{gallery.width}px;" %>
      
    <% end %>
  </div>
</div>