@import "bootstrap";
@import "font-awesome";
@import "social-share-button";
@import "daterangepicker";
@import "fullcalendar";
@import "jquery.bxslider";
@import "style";

.slide{
    object-fit: cover;
    overflow: hidden;
}
.d-block{
    width:  90%;
    height: 50%;
    text-align: center;
    margin-left: 30px;
    border-radius: 20px;
}