<footer class="text-muted">
     <div class="container">
       <p class="float-right">
         <a href="#">Back to top</a>
       </p>
       <div class="panel-footer"> ©<%= Time.current.year %> Blue Tulip</div>
     </div>
</footer>