<div class="top-blue-border"></div>
<footer id="footer">
<div class="footer-holder">
  <div class="footer-frame">
    <div class="footer-content">
      <div class="col-holder">
        <div class="col_wrap">
          <div class="col">
            <h3>Our address</h3>
            <address class="map">1186 Madison Ave, NY 10173</address>
            <address class="mail"><a href="mailto:contact@kidschool.com">contact@kidschool.com</a></address>
            <address class="phone">(580) 845 982 431</address>
          </div>
        </div>
        <div class="col_wrap">
          <div class="col">
            <h3>Latest posts</h3>
            <ul class="posts">
              <li><a href="#">Dignissimos ducimus blanditiis</a></li>
              <li><a href="#">Praesentium voluptatum deleniti</a></li>
              <li><a href="#">Atque corrupti quos dolores</a></li>
              <li><a href="#">Molestias excepturi sint occaecati</a></li>
              <li><a href="#">Cupiditate provident similique</a></li>
            </ul>
          </div>
        </div>
        <div class="col_wrap">
          <div class="col">
            <h3>Follow us</h3>
            <p class="social">Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            <ul class="social">
              <li><a class="facebook" href="#">Facebook</a></li>
              <li><a class="google" href="#">Google+</a></li>
              <li><a class="twitter" href="#">Twitter</a></li>
              <li><a class="pinterest" href="#">Pinterest</a></li>
            </ul>
          </div>
        </div>
        <div class="col_wrap">
          <div class="col">
            <h3>Newsletter</h3>
            <p class="form-newsletter">Voluptas sit aspernatur consequuntur.</p>
            <form action="#" class="form-newsletter">
              <fieldset>
                <input type="email" placeholder="Your email..." />
                <input class="btn white" type="submit" value="Subscribe" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  