
<div id="wrapper" class="homepage">
		<div class="wrapper-holder">
			<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="index.html">Sunshine Nursery</a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "About us", about_us_path%></li>
							<li><%= link_to "Activities", events_path%></li>
							<li><%= link_to "Contact Us", new_contact_path%>
							<li><a href="gallery.html">Gallery</a></li>
						
						</ul>
					</nav>
				</div>
			</header>